TELEGRAM_BOT_TOKEN=
AI_PROVIDER=gemini
LLM_MODEL=gemini-2.0-flash
GEMINI_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
HUGGINGFACE_API_KEY=
VT_API_KEY=
VT_RPM_LIMIT=4
VT_DAILY_LIMIT=500
VT_MONTHLY_LIMIT=15500
DATABASE_URL=postgresql://postgres:password@db.your-project-ref.supabase.co:5432/postgres
GROUP_SCAN_ENABLED=true
LOG_LEVEL=INFO
ADMIN_CHAT_ID=
